body, html {
  overflow: hidden;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #d9d9ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 12, 12);
}

.App-link {
  color: #61dafb;
}

input[type="text"], .apiResponseBox {
  margin: 20px 0;
  padding: 10px;
  width: 500px;
}

input[type="text"] {
  width: 300px;
}

.prompt-input{
  width: 300px;
  position:fixed;
  bottom: 150px;
  right: 120px;
}

.index-input {
  width: 300px;
  position:fixed;
  bottom: 100px;
  right: 120px;
}

.submit-button {
  position:fixed;
  bottom: 80px;
  right: 260px;
}

.scrollable-container {
  position:fixed;
  bottom: 200px;
  right: 20px;
  height: 600px;
  width: 700px;
  font-size: 70%;
  /*overflow-y: auto;*/
  border: 2px solid #ccc;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.chat-container {
  position:fixed;
  bottom: 0px;
  right: 20px;
  height: 800px;
  width: 460px;
  font-size: 70%;
  /*overflow-y: auto;*/
  border: 2px solid #ccc;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #faf7f7;

}

.beveled-box {
  position:relative;
  bottom: 0px;
  right: 20px;
  height: 750px;
  width: 460px;
  font-size: 70%;
  /*overflow-y: auto;*/
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  border: 1px solid #d1d1d1;
  box-shadow:
    1px 1px 2px rgba(255, 255, 255, 0.8), /* Top and left white shadow */
    -1px -1px 2px rgba(255, 255, 255, 0.8), /* Top and left white shadow */
    1px -1px 2px rgba(0, 0, 0, 0.2), /* Bottom and right dark shadow */
    -1px 1px 2px rgba(0, 0, 0, 0.2); /* Bottom and right dark shadow */
}

.chat-window {
  position: relative;
  width: 100%;
  /*overflow-y: auto;*/
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  
  display:flex;
  flex-direction:column;
}

.custom-selectable {
  width: 500px;
  margin-top: 1em;
  padding: px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: white;
  cursor: pointer;
}

.link-container {
  width: 650px;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sources-link-container {
  position:relative;
  width: 400px;
  height: 60px;
  padding: 1px;
  font-size: 80%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.link {
  display: block;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0000EE;
  text-decoration: none;
  margin-bottom: 8px;
  margin-top: 20px;
  text-align: left;
}


.link:hover {
  text-decoration: underline;
}

.custom-box {
  width: 500px;
  margin-top: 1em;
  padding: px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: white;
  cursor: pointer;
}

.footer {
  position: relative;
  top: 0%;
  right: 20px;
}

textarea {
  width: 80%;
  height: 400px;
  padding: 12px 20px;
  margin: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: both;
}

.apiResponseBox {
  height: 1000px;
  width: 1000px;
  resize: both;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrow-button {
  position: relative;
  padding: 10px 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.arrow-button::before, .arrow-button::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 10px;
  height: 10px;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: translateX(-50%);
}

.arrow-button::before {
  top: 5px; /* Position the up arrow slightly above center */
  transform: translateX(-50%) rotate(-135deg);
}

.arrow-button::after {
  bottom: 5px; /* Position the down arrow slightly below the center */
  transform: translateX(-50%) rotate(45deg);
}

.user {
  color: blue;
  font-weight: bold;
  position: relative;
  background: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  text-align: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.user::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust this value to move the tail up or down*/
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent; /* creates a triangle */
  border-top-color: #f0f0f0;
  border-bottom: 0;
  margin-left: -10px;
  transform: translateX(-50%);
}

.bot {
  color: green;
  position: relative;
  background: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  text-align: left;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.bot::after {
  content: '';
  position: absolute;
  bottom: -10px; /* Adjust this value to move the tail up or down*/
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent; /* creates a triangle */
  border-top-color: #f0f0f0;
  border-bottom: 0;
  margin-left: -10px;
  transform: translateX(-50%);
}

input, button {
  margin: 10px;
}

.speech-bubble {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.speech-bubble::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust this value to move the tail up or down*/
  left: 20px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f0f0f0 transparent;
}

.no-bullets, .no-bullets li {
  list-style-type:none;
  text-align: left;
}