.parent-container {
    position: relative;
    bottom: 0px;
    right: 10px;
    height: 500px;
    width: 415px;
    font-size: 70%;
    top: 10px;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fcfcfc00;
}